.top {
  color: red;
  float: right;
}
 .flex-column {
   padding-top: 130px;
   width: 10%;

 }

.info {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }

.yellow {
  background-color: yellow;
}

.pink {
  background-color: pink;
  margin-top: 20px;
}

.green {
  background-color: lightgreen;
}

.blue {
  background-color: lightblue;
}

.main {
  margin-left: 1px;
  padding-top: 30px;
}

body {
  float: left;
}

/* images */

#bug {
  width: 35%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;

}

img {
  width: 25%;
}

.top-images {
  float: left;
  padding: 10px;
}

.bottom-images {
  float: right;
  padding: 10px;
}
#guy {
  float: left;
}
.panel-body {
  background-color: lightgreen;
}

.panel-body2 {
  background-color: lightblue;
}

.panel-body3 {
  background-color: pink;
}

#logo {
  width: 100px;
}
